.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
  padding-top: 0;
  overflow-y: auto;
}

mat-toolbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spacer {
  flex: 1 1 auto;
}

section {
  margin-bottom: 2rem;
}

section:first-child {
  margin-top: 0;
}

section:last-child {
  margin-bottom: 0;
}
